src/flows.json
[{"id":"67ac1c26.d0b3b4","type":"subflow","name":"CoronaDashboard git commit and push","info":"Invoer: `msg.date` als de YY-MM-DD van de update, `msg.topic` in formaat `serie/<n>`","category":"","in":[{"x":40,"y":60,"wires":[{"id":"80ee24b3.c50d68"}]}],"out":[{"x":840,"y":60,"wires":[{"id":"9a4b6fa.022e11","port":0}]},{"x":840,"y":120,"wires":[{"id":"9a4b6fa.022e11","port":1},{"id":"49aeeb9f.275fb4","port":1}]}],"env":[{"name":"commit_msg","type":"str","value":"Data bestanden van ${date} voor de ${serie} serie van de dag; automatische commit","ui":{"label":{"en-US":"Commit message (gebruik ${...} voor replacement)"},"type":"input","opts":{"types":["str"]}}}],"color":"#DDAA99","outputLabels":["output","error"]},{"id":"49aeeb9f.275fb4","type":"exec","z":"67ac1c26.d0b3b4","command":"cd /home/pi/rivm-minvws/corona-dashboard-repo; git commit","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git commit -m <message>","x":460,"y":60,"wires":[["9a4b6fa.022e11"],[],[]]},{"id":"80ee24b3.c50d68","type":"change","z":"67ac1c26.d0b3b4","name":"Prep commit message","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"-m \\\"\" & $env('commit_msg') & \"\\\"\"","tot":"jsonata"},{"t":"set","p":"_serie","pt":"msg","to":"topic.$split(\"/\")[1]","tot":"jsonata"},{"t":"change","p":"payload","pt":"msg","from":"${date}","fromt":"str","to":"date","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"${serie}","fromt":"str","to":"_serie","tot":"msg"},{"t":"delete","p":"_serie","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":60,"wires":[["49aeeb9f.275fb4"]]},{"id":"9a4b6fa.022e11","type":"exec","z":"67ac1c26.d0b3b4","command":"cd /home/pi/rivm-minvws/corona-dashboard-repo; git push -u origin master","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"git push","x":700,"y":60,"wires":[[],[],[]]},{"id":"b41a963c.6952a","type":"subflow","name":"CoronaDashboard Git prepare","info":"Invoer: `msg.filename` als absolute pad naar bestand om toe te voegen.","category":"","in":[{"x":40,"y":40,"wires":[{"id":"77dbc19.e8b764"}]}],"out":[{"x":860,"y":40,"wires":[{"id":"c27cfc23.324de8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8b436f3f.2ee388","type":"exec","z":"b41a963c.6952a","command":"cd /home/pi/rivm-minvws/corona-dashboard-repo; git add ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Git add <filename>","x":490,"y":40,"wires":[["c27cfc23.324de8"],[],[]]},{"id":"77dbc19.e8b764","type":"change","z":"b41a963c.6952a","name":"Store payload for safekeeping","rules":[{"t":"set","p":"_inc_payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":40,"wires":[["8b436f3f.2ee388"]]},{"id":"c27cfc23.324de8","type":"change","z":"b41a963c.6952a","name":"Restore payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"_inc_payload","tot":"msg"},{"t":"delete","p":"_inc_payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":40,"wires":[[]]},{"id":"25b9da6e.f24b6e","type":"subflow","name":"CoronaDashboard JSON-to-file","info":"Invoer: `msg.name` als naam van origineel bestand, en `msg.payload` als de JSON uitvoer.\nTopic in formaat `serie/<n>` waarbij `<n>` de n-de uitvoer op een dag is voor afvangen stille wijzigingen.","category":"","in":[{"x":60,"y":60,"wires":[{"id":"78137a8.c1f2984"}]}],"out":[{"x":500,"y":120,"wires":[{"id":"fc02d86a.d3ccb8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"99cb3a09.3a618","type":"change","z":"25b9da6e.f24b6e","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"/home/pi/rivm-minvws/corona-dashboard-repo/data/\" & date & \"_\" & topic.$split('/')[1] & \"/\" & name & \".json\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":60,"wires":[["999f69bf.79b878"]]},{"id":"78137a8.c1f2984","type":"function","z":"25b9da6e.f24b6e","name":"","func":"const date = Date.now();\nmsg.date = new Date().toISOString().split('T')[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":60,"wires":[["99cb3a09.3a618"]]},{"id":"999f69bf.79b878","type":"json","z":"25b9da6e.f24b6e","name":"Omzetten naar JSON string.","property":"payload","action":"str","pretty":true,"x":180,"y":120,"wires":[["fc02d86a.d3ccb8"]]},{"id":"fc02d86a.d3ccb8","type":"file","z":"25b9da6e.f24b6e","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":390,"y":120,"wires":[[]]},{"id":"d5aba4ab.a0b278","type":"tab","label":"RIVM / VWS - CoronaDashboard","disabled":false,"info":""},{"id":"a7822ce1.6a1e9","type":"inject","z":"d5aba4ab.a0b278","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":0.1,"topic":"serie/2","payload":"","payloadType":"str","x":120,"y":80,"wires":[[]]},{"id":"def1a22e.f9d64","type":"http request","z":"d5aba4ab.a0b278","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://coronadashboard.rijksoverheid.nl/json/NL.json","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":80,"wires":[["1c715ea6.4f63e1","fef23b63.50fef"]]},{"id":"67607359.1b404c","type":"inject","z":"d5aba4ab.a0b278","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"topic":"serie/1","payload":"","payloadType":"str","x":120,"y":40,"wires":[[]]},{"id":"fef23b63.50fef","type":"change","z":"d5aba4ab.a0b278","name":"","rules":[{"t":"set","p":"now","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"{\t   \"timestamp\": $$.now,\t   \"data\": $$.payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":60,"wires":[["ef09abc6.5161e"]]},{"id":"ef09abc6.5161e","type":"cloudantplus out","z":"d5aba4ab.a0b278","name":"","cloudant":"a3f49fc7.378578","database":"rivm-minvws","service":"_ext_","payonly":true,"operation":"insert","x":650,"y":60,"wires":[[]]},{"id":"2a25d1d3.d0231e","type":"template","z":"d5aba4ab.a0b278","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <!-- including ECharts file -->\n    <script src=\"https://cdn.jsdelivr.net/npm/echarts@4.8.0/dist/echarts.min.js\"></script>\n</head>\n<body>\n    <!-- preparing a DOM with width and height for ECharts -->\n    <div id=\"chart\" style=\"width:600px; height:400px;\"></div>\n    \n    <script type=\"text/javascript\">\n        // based on prepared DOM, initialize echarts instance\n        var myChart = echarts.init(document.getElementById('chart'));\n\n        // specify chart configuration item and data\n        option = {\n            tooltip: {\n                trigger: 'axis',\n                axisPointer: {\n                    type: 'cross',\n                    crossStyle: {\n                        color: '#999'\n                    }\n                }\n            },\n            toolbox: {\n                feature: {\n                    dataView: {show: true, readOnly: false},\n                    magicType: {show: true, type: ['line', 'bar']},\n                    restore: {show: true},\n                    saveAsImage: {show: true}\n                }\n            },\n            legend: {\n                data: ['蒸发量', '降水量', '平均温度']\n            },\n            xAxis: [\n                {\n                    type: 'category',\n                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],\n                    axisPointer: {\n                        type: 'shadow'\n                    }\n                }\n            ],\n            yAxis: [\n                {\n                    type: 'value',\n                    name: '水量',\n                    min: 0,\n                    max: 250,\n                    interval: 50,\n                    axisLabel: {\n                        formatter: '{value} ml'\n                    }\n                },\n                {\n                    type: 'value',\n                    name: '温度',\n                    min: 0,\n                    max: 25,\n                    interval: 5,\n                    axisLabel: {\n                        formatter: '{value} °C'\n                    }\n                }\n            ],\n            series: [\n                {\n                    name: '蒸发量',\n                    type: 'bar',\n                    data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]\n                },\n                {\n                    name: '降水量',\n                    type: 'bar',\n                    data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]\n                },\n                {\n                    name: '平均温度',\n                    type: 'line',\n                    yAxisIndex: 1,\n                    data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]\n                }\n            ]\n        };\n\n        // use configuration item and data specified to show chart\n        myChart.setOption(option);\n    </script>\n</body>\n</html>","output":"str","x":440,"y":560,"wires":[["c296201.b4755e"]]},{"id":"a47048a8.102b78","type":"http in","z":"d5aba4ab.a0b278","name":"","url":"/verpleeghuizen","method":"get","upload":false,"swaggerDoc":"","x":140,"y":660,"wires":[["37f290c3.0b2818"]]},{"id":"c296201.b4755e","type":"http response","z":"d5aba4ab.a0b278","name":"","statusCode":"","headers":{},"x":610,"y":560,"wires":[]},{"id":"37f290c3.0b2818","type":"cloudantplus in","z":"d5aba4ab.a0b278","name":"","cloudant":"a3f49fc7.378578","database":"rivm-minvws","service":"_ext_","search":"_all_","design":"","index":"","x":180,"y":800,"wires":[["1572be9b.862f59","288894ce.f9d92c"]]},{"id":"3ec25585.595972","type":"inject","z":"d5aba4ab.a0b278","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":740,"wires":[["37f290c3.0b2818"]]},{"id":"1572be9b.862f59","type":"split","z":"d5aba4ab.a0b278","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":800,"wires":[["f4e18090.c8566","dcc9e4a3.f9c318"]]},{"id":"f4e18090.c8566","type":"rbe","z":"d5aba4ab.a0b278","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.data.last_generated","x":510,"y":800,"wires":[["bde25435.1ee218"]]},{"id":"b27723a.1e5fbe","type":"debug","z":"d5aba4ab.a0b278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":840,"wires":[]},{"id":"bde25435.1ee218","type":"change","z":"d5aba4ab.a0b278","name":"Ease up data","rules":[{"t":"set","p":"raw","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"nursery_homes_total","pt":"msg","to":"$$.raw.data.total_reported_locations.values.{     \"timestamp\": $.date_of_report_unix,     \"value\": $.total_reported_locations }","tot":"jsonata"},{"t":"set","p":"nursery_homes_new","pt":"msg","to":"$$.raw.data.total_newly_reported_locations.values.{     \"timestamp\": $.date_of_report_unix,     \"value\": $.total_new_reported_locations }","tot":"jsonata"},{"t":"set","p":"infected_people_nursery","pt":"msg","to":"$$.raw.data.infected_people_nursery_count_daily.values.{     \"timestamp\": $.date_of_report_unix,     \"value\": $.infected_nursery_daily }","tot":"jsonata"},{"t":"set","p":"deceased_nursery_daily","pt":"msg","to":"$$.raw.data.deceased_people_nursery_count_daily.values.{     \"timestamp\": $.date_of_report_unix,     \"value\": $.deceased_nursery_daily }","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\t    \"last_generated\": $$.raw.data.last_generated,\t    \"nursery_homes_new\": $$.nursery_homes_new,\t    \"nursery_homes_total\": $$.nursery_homes_total,\t    \"infected_people_nursery\": $$.infected_people_nursery,\t    \"deceased_nursery_daily\": $$.deceased_nursery_daily\t}","tot":"jsonata"},{"t":"delete","p":"nursery_homes_total","pt":"msg"},{"t":"delete","p":"nursery_homes_new","pt":"msg"},{"t":"delete","p":"infected_people_nursery","pt":"msg"},{"t":"delete","p":"deceased_nursery_daily","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":800,"wires":[["2438a01c.d7b7e8","7739a2f3.de69f4"]]},{"id":"2d5d098.6c1db76","type":"template","z":"d5aba4ab.a0b278","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <!-- including ECharts file -->\n    <script src=\"https://cdn.jsdelivr.net/npm/echarts@4.8.0/dist/echarts.min.js\"></script>\n</head>\n<body>\n    <!-- preparing a DOM with width and height for ECharts -->\n    <div id=\"chart\" style=\"width:800px; height:400px;\"></div>\n    \n    <script type=\"text/javascript\">\n        var data_nh = JSON.parse('{{{ payload }}}');\n        var data_days = [{{{ _keys }}}];\n    \n        // based on prepared DOM, initialize echarts instance\n        var myChart = echarts.init(document.getElementById('chart'));\n        \n        var series = Object.entries(data_nh).map(function(item_day) {\n            const report_date = new Date(Number.parseInt(item_day[0] * 1000, 10));\n            return [\n                {\n                    // name: `Totale verpleeghuizen op ${report_date.getDate()}-${report_date.getMonth() + 1}`,\n                    name: `Totaal op ${report_date.getDate()}-${report_date.getMonth() + 1}`,\n                    type: 'line',\n                    data: item_day[1].nursery_homes_total.map(function (nh_total_item) { return [nh_total_item.timestamp * 1000, nh_total_item.value] }),\n                    xAxisIndex: 0,\n                    yAxisIndex: 0,\n                },\n                {\n                    // name: `Nieuwe verpleeghuizen op ${report_date.getDate()}-${report_date.getMonth() + 1}`,\n                     name: `Nieuw op ${report_date.getDate()}-${report_date.getMonth() + 1}`,\n                    type: 'bar',\n                    data: item_day[1].nursery_homes_new.map(function (nh_new_item) { return [nh_new_item.timestamp * 1000, nh_new_item.value] }),\n                    xAxisIndex: 0,\n                    yAxisIndex: 0,\n                },\n                // {\n                //     name: `Overleden patiënten op ${report_date.getDate()}-${report_date.getMonth() + 1}`,\n                //     type: 'bar',\n                //     data: item_day[1].deceased_nursery_daily.map(function (nh_deceased_item) { return [nh_deceased_item.timestamp * 1000, nh_deceased_item.value] }),\n                //     xAxisIndex: 0,\n                //     yAxisIndex: 0,\n                // },\n                // {\n                //     name: `Nieuwe patiënten op ${report_date.getDate()}-${report_date.getMonth() + 1}`,\n                //     type: 'bar',\n                //     data: item_day[1].infected_people_nursery.map(function (nh_infected_item) { return [nh_infected_item.timestamp * 1000, nh_infected_item.value] }),\n                //     xAxisIndex: 0,\n                //     yAxisIndex: 0,\n                // }\n            ];\n        }).flat();\n\n        // specify chart configuration item and data\n        option = {\n            title: {\n                text: 'Gemelde verpleeghuizen met besmettingen COVID-19'\n            },\n            legend: {\n                type: 'scroll',\n                orient: 'vertical',\n                right: '5%',\n                top: '8%',\n                bottom: '8%',\n            },\n            tooltip: {\n                trigger: 'axis',\n                axisPointer: {\n                    type: 'cross',\n                    crossStyle: {\n                        color: '#999'\n                    }\n                }\n            },\n            toolbox: {\n                feature: {\n                    dataView: {show: true, readOnly: false},\n                    magicType: {show: true, type: ['line', 'bar']},\n                    restore: {show: true},\n                    saveAsImage: {show: true}\n                }\n            },\n            grid: [{\n                x: '5%',\n                y: '8%',\n                width: '75%',\n                height: '80%'\n            }],\n            yAxis: [{\n                gridIndex: 0,\n                type: 'value',\n            }],\n            xAxis: [\n                {\n                    gridIndex: 0,\n                    type: 'time',\n                    axisLabel: {\n                        formatter: function(value, index) {\n                            const date = new Date(value);\n                            return `${date.getDate()}-${date.getMonth() + 1}`;\n                        },\n                    }\n                }\n            ],\n            dataZoom: [\n                {\n                    type: \"inside\"\n                }, \n                {}\n            ],\n            series: series,\n        };\n        \n        console.log(option.series);\n\n        // use configuration item and data specified to show chart\n        myChart.setOption(option);\n    </script>\n</body>\n</html>","output":"str","x":640,"y":900,"wires":[["6dd5d0f4.65c32"]]},{"id":"9cfa8f3f.6aa5b","type":"http in","z":"d5aba4ab.a0b278","name":"","url":"/verpleeghuizen-test","method":"get","upload":false,"swaggerDoc":"","x":210,"y":560,"wires":[["2a25d1d3.d0231e"]]},{"id":"2438a01c.d7b7e8","type":"join","z":"d5aba4ab.a0b278","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload.last_generated","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":660,"y":840,"wires":[["b27723a.1e5fbe","eaa97182.828b98"]]},{"id":"288894ce.f9d92c","type":"debug","z":"d5aba4ab.a0b278","name":"database output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":720,"wires":[]},{"id":"7739a2f3.de69f4","type":"debug","z":"d5aba4ab.a0b278","name":"pre join","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":760,"wires":[]},{"id":"dcc9e4a3.f9c318","type":"debug","z":"d5aba4ab.a0b278","name":"post split","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":760,"wires":[]},{"id":"eaa97182.828b98","type":"change","z":"d5aba4ab.a0b278","name":"","rules":[{"t":"set","p":"_keys","pt":"msg","to":"payload.$keys()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":900,"wires":[["9796c309.4dc6c"]]},{"id":"6dd5d0f4.65c32","type":"http response","z":"d5aba4ab.a0b278","name":"","statusCode":"","headers":{},"x":800,"y":900,"wires":[]},{"id":"9796c309.4dc6c","type":"json","z":"d5aba4ab.a0b278","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":900,"wires":[["2d5d098.6c1db76"]]},{"id":"c07a1081.9b562","type":"comment","z":"d5aba4ab.a0b278","name":"Naar database","info":"","x":460,"y":20,"wires":[]},{"id":"9bed5c1f.22bfc8","type":"comment","z":"d5aba4ab.a0b278","name":"Naar file","info":"","x":440,"y":120,"wires":[]},{"id":"15d575fd.027fea","type":"subflow:25b9da6e.f24b6e","z":"d5aba4ab.a0b278","name":"","env":[],"x":690,"y":160,"wires":[["df01c20d.fd87f"]]},{"id":"1c715ea6.4f63e1","type":"change","z":"d5aba4ab.a0b278","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"NL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["15d575fd.027fea"]]},{"id":"1a3199e3.3e276e","type":"change","z":"d5aba4ab.a0b278","name":"Prep veiligheidsregio","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"VR01\":\"Groningen\",\"VR02\":\"Friesland\",\"VR03\":\"Drenthe\",\"VR04\":\"IJsselland\",\"VR05\":\"Twente\",\"VR06\":\"Noord- en Oost-Gelderland\",\"VR07\":\"Gelderland-Midden\",\"VR08\":\"Gelderland-Zuid\",\"VR09\":\"Utrecht\",\"VR10\":\"Noord-Holland Noord\",\"VR11\":\"Zaanstreek-Waterland\",\"VR12\":\"Kennemerland\",\"VR13\":\"Amsterdam-Amstelland\",\"VR14\":\"Gooi en Vechtstreek\",\"VR15\":\"Haaglanden\",\"VR16\":\"Hollands Midden\",\"VR17\":\"Rotterdam-Rijnmond\",\"VR18\":\"Zuid-Holland Zuid\",\"VR19\":\"Zeeland\",\"VR20\":\"Midden- en West-Brabant\",\"VR21\":\"Brabant-Noord\",\"VR22\":\"Brabant-Zuidoost\",\"VR23\":\"Limburg-Noord\",\"VR24\":\"Zuid-Limburg\",\"VR25\":\"Flevoland\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":260,"wires":[["5addf089.4530c8"]]},{"id":"5addf089.4530c8","type":"split","z":"d5aba4ab.a0b278","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"vr_code","x":380,"y":260,"wires":[["8e5354cb.ef57"]]},{"id":"8e5354cb.ef57","type":"change","z":"d5aba4ab.a0b278","name":"","rules":[{"t":"set","p":"vr_name","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":260,"wires":[["9faf0942.73c4e","479cfd4d.e7d6bc"]]},{"id":"479cfd4d.e7d6bc","type":"http request","z":"d5aba4ab.a0b278","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://coronadashboard.rijksoverheid.nl/json/{{{vr_code}}}.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":320,"wires":[["3c10fed4.0505c2"]]},{"id":"7535e6ab.c3cc68","type":"inject","z":"d5aba4ab.a0b278","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"serie/1","payload":"","payloadType":"date","x":110,"y":320,"wires":[["1a3199e3.3e276e"]]},{"id":"9faf0942.73c4e","type":"debug","z":"d5aba4ab.a0b278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"3c10fed4.0505c2","type":"change","z":"d5aba4ab.a0b278","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"vr_code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["96228e1.ae22d7"]]},{"id":"96228e1.ae22d7","type":"subflow:25b9da6e.f24b6e","z":"d5aba4ab.a0b278","name":"json to file","env":[],"x":740,"y":320,"wires":[["16651bbf.a153fc"]]},{"id":"809d24ce.c67198","type":"join","z":"d5aba4ab.a0b278","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":320,"wires":[["ec12ef47.c08af"]]},{"id":"16651bbf.a153fc","type":"subflow:b41a963c.6952a","z":"d5aba4ab.a0b278","name":"git add","env":[],"x":910,"y":320,"wires":[["809d24ce.c67198"]]},{"id":"b6e30450.dee83","type":"subflow:67ac1c26.d0b3b4","z":"d5aba4ab.a0b278","name":"commit & push","env":[],"x":740,"y":380,"wires":[[],[]]},{"id":"df01c20d.fd87f","type":"subflow:b41a963c.6952a","z":"d5aba4ab.a0b278","name":"git add","env":[],"x":910,"y":160,"wires":[["1a3199e3.3e276e"]]},{"id":"ec12ef47.c08af","type":"change","z":"d5aba4ab.a0b278","name":"Neem eerste bestand als uitgangspunt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":380,"wires":[["b6e30450.dee83"]]},{"id":"aa5c697d.3a11b8","type":"debug","z":"d5aba4ab.a0b278","name":"stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":420,"wires":[]},{"id":"4b73d4ae.207914","type":"subflow:67ac1c26.d0b3b4","z":"d5aba4ab.a0b278","name":"","env":[],"x":660,"y":440,"wires":[["aa5c697d.3a11b8"],["5e32d916.7c2018"]]},{"id":"5e32d916.7c2018","type":"debug","z":"d5aba4ab.a0b278","name":"stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":460,"wires":[]},{"id":"53d6e28f.504d44","type":"inject","z":"d5aba4ab.a0b278","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"date","v":"2020-09-18","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"serie/2","payload":"","payloadType":"date","x":370,"y":440,"wires":[["4b73d4ae.207914"]]},{"id":"9c3a1d02.59a138","type":"cronplus","z":"d5aba4ab.a0b278","name":"","outputField":"payload","timeZone":"Europe/Amsterdam","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"trigger_vws_dump_1","topic":"serie/1","payloadType":"str","payload":"","expressionType":"cron","expression":"0 0 10 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"trigger_vws_dump_2","topic":"serie/2","payloadType":"str","payload":"","expressionType":"cron","expression":"0 0 16 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":120,"y":120,"wires":[["def1a22e.f9d64"]]},{"id":"a3f49fc7.378578","type":"cloudantplus","z":"","host":"http://192.168.2.41:5984","name":"couchdb Penny"}]
